<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>476652956485-mfp268r2ml5q7kkobffn94050oktvu5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476652956485-mfp268r2ml5q7kkobffn94050oktvu5i</string>
	<key>API_KEY</key>
	<string>AIzaSyAS_j532NJOYiXHpbRMgktU9d3kOPvX_3c</string>
	<key>GCM_SENDER_ID</key>
	<string>476652956485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.embla</string>
	<key>PROJECT_ID</key>
	<string>embla-889b2</string>
	<key>STORAGE_BUCKET</key>
	<string>embla-889b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476652956485:ios:ebde43ec12bc64df</string>
	<key>DATABASE_URL</key>
	<string>https://embla-889b2.firebaseio.com</string>
</dict>
</plist>